/* BASICS */

#root {
  max-width: 100%;
  font-family: "Roboto Mono", monospace;
  color: white;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.appContainer {
  min-height: 100vh;
}

/* FONT */

@font-face {
  font-family: "Consolas";
  src: url("./assets/font/CONSOLA.TTF");
}

/* THEMES */

.codeArea {
  font-family: "Consolas";
}

.imgGradiant {
  width: 100%;
  height: 100%;
  position: relative;
}

.imgGradiant::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}

.projects {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.project {
  scroll-snap-align: start;
}
